doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Flash Cards
    body
        Header
            h1 Name List
        section#content
            h2 First Names
            ul
              each name in firstNames
                li= name  
        footer
            p An app to help you study